body {
    font-family: Palatino;
    background-color:steelblue;
    color:white;
  }

.adventurer{
    list-style: none;
    border-style: solid;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left:10px;
    padding-right:10px;
}

#adventurer-roster{
    display: flex;
    flex-wrap: wrap;
}